.carousel{
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}
.carousel__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel__track-container {
    height: 100%;
    position: relative;
}
.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
}
.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.carousel__button--left {
    left: -50px;
}
.carousel__button--right {
    right: -70px;
}
.carousel__button img {
    width: 40px;
    height: 35px;
}
.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: #8F8E8E;
    margin: 0 15px;
}
.carousel__indicator.current-slide {
    background: #8F8E8E;
}